.login{
    /* background-color: #fff; */
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login_container{
    padding: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login_container img{
    height: 100px;
    margin-bottom: 40px;
    object-fit: contain;
}

.login_container button{
margin-top: 50px;
text-transform: inherit !important;
background-color: green !important;
color: white;
}


@media only screen and (max-width: 480px) {
    
    .login{
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
    }

    .login_container{
        padding: 100px;
        height: 100%;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    }

    .login_text{
        font-size: 10px;
    }
    
}